body {
  font-family: "Be Vietnam Pro";
  background: var(--White-97, #f7f7f8);
  border: none;
}

* {
  border: none;
}

.container {
  width: 358px;
  margin: 0 auto;
}

.Skillbridge-container {
  margin-bottom: 50px;
  display: flex;
  padding-bottom: 30px;
  flex-direction: column;
  gap: 16px;
}

.Skillbridge-container-title {
  color: var(--Grey-15);
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;
  display: flex;
}

.Skillbridge-container-text {
  color: var(--Grey-35);
  font-size: 14px;
  line-height: 1.5;
}

.Achievements {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.container-title {
  color: var(--Grey-15, #262626);
  font-family: "Be Vietnam Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.text {
  flex: 1 0 0;
  color: var(--Grey-35, #59595a);
  font-size: 14px;
  line-height: 1.5;
}

.container-list {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.container-list-subcontainer {}

.container-list-item {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 10px;
  background: var(--Absolute-White);
}

.container-list-imgcontainer {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--Orange-90);
  background: var(--Orange-97);
}

.container-list-imgcontainer-img {
  width: 28px;
  height: 23px;
}

.item-text-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.Achievements-container-title {}

.OurGoals {}

.title {
  color: var(--Grey-20, #333);
  font-family: "Be Vietnam Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.CTA {
  margin-bottom: 50px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  border-radius: 10px;
  background: var(--Absolute-White);
}

.text-container-CTA {
  position: relative;
}

.CTA-title {
  color: var(--Grey-15);
  font-family: "Be Vietnam Pro";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.CTA-title-span {
  color: var(--Orange-50);
}

.CTA-button-text {
  color: var(--Absolute-White);
  text-align: center;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.CTA-Abstractlogo-backroundimage {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: var(--Orange-50);
}

.text-container-CTA::after {
  background-repeat: no-repeat;
  position: absolute;
  right: -63px;
  bottom: -211px;
  content: "";
  background-image: url("./img/svg/AbstractDesign.svg");
  width: 235px;
  height: 235px;
}

@media (min-width: 1440px) {
  .text {
    font-size: 16px;
  }

  .nav-list {
    display: flex;
  }

  .container {
    width: 1280px;
  }

  .Skillbridge-container {
    width: 1280px;
    display: flex;
    padding: 0px 60px 40px 60px;
    align-items: center;
    gap: 80px;
    flex-direction: row;
  }

  .Skillbridge-container-title {
    flex: 1 0 0;
    font-size: 38px;
  }

  .Skillbridge-container-text {
    font-size: 16px;
  }

  .Achievements {}

  .OurGoals {}

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
    margin-bottom: 60px;
  }

  .container-list {
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    height: 572px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
  }

  .container-list-item {
    width: 550px;
    padding: 40px;
    gap: 24px;
    align-self: stretch;
  }

  .CTA {
    display: flex;
    padding: 60px;
    align-items: center;
    gap: 300px;
    align-self: stretch;
    border-radius: 10px;
    height: 120px;
    flex-direction: row
  }

  .CTA-title {
    font-size: 38px;
  }

  .text-container-CTA::after {
    background-image: url("./img/svg/AbstractDesingMedium.svg");
    width: 362px;
    height: 362px;
    justify-content: flex-end;
    align-items: center;
    right: -316px;
    bottom: -174px;
  }

  .CTA-Abstractlogo-backroundimage {}
}

@media (min-width: 1920px) {
  .container {
    width: 1596px;
    gap: 80px;
  }

  .title {
    font-size: 48px;
  }

  .text {
    font-size: 18px;
  }

  .Skillbridge-container {
    display: flex;
    padding: 0px 132px 50px 132px;
    align-items: center;
    gap: 100px;
  }

  .Skillbridge-container-title {
    font-size: 48px;
  }

  .text-container {
    margin-bottom: 80px;
  }

  .container-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    width: 1596px;
    height: 630px;
    margin-bottom: 80px;
  }

  .container-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
    width: 683px;
  }

  .CTA {
    padding: 80px;
  }

  .CTA-title {
    font-size: 48px;
  }
  .CTA-title-span{

  }

  .text-container-CTA::after {
    top: -110px;
    background-image: url("./img/svg/AbstractDesingBig.svg");
  }
}