body {
    font-family: "Be Vietnam Pro";
    background: var(--White-97, #f7f7f8);
    border: none;
  }
  * {
    border: none;
  }
  .tob-baner {
    display: flex;
    padding: 10px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background-color: var(--Orange-50);
    color: var(--Absolute-White, #fff);
    font-size: 14px;
    line-height: 1.5; /* 21px */
    border-radius: 6px;
    width: 100%;
  }
  .header {
    width: 358px;
    margin: 0 auto;
    margin-bottom: 50px;
    /*padding: 40px 16px 0px 16px;*/
  }
  .top-baner-icon {
    width: 20px;
    height: 20px;
  }
  .hero-subcontainer-itemIMG-icon {
    width: 24px;
    height: 24px;
  }
  .imgcontainer-logo {
    width: fit-content;
    height: fit-content;
    padding: 5px 5px 5px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: var(--Orange-50);
  }
  .logo {
    width: 30px;
    height: 30px;
  }
  .header-container {
    display: flex;
    padding: 14px 0px 14px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  .nav {
    display: none;
  }
  .burger-menu {
    width: 34px;
    height: 34px;
  }
  .header-btncontainer-item-login {
    border-radius: 6px;
    background: var(--Orange-50);
    padding: 12px 20px;
    align-items: center;
    font-family: "Be Vietnam Pro";
    gap: 8px;
    color: var(--Absolute-White);
    font-size: 14px;
    line-height: 1.5; /* 21px */
  }
  .header-btncontainer {
    gap: 20px;
    display: flex;
    align-items: center;
  }
  /*header end*/
body{
  font-family: "Be Vietnam Pro";
  background: var(--White-97, #f7f7f8);
  border: none;
}

* {
  border: none;
}

.tob-baner {
  display: flex;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: var(--Orange-50);
  color: var(--Absolute-White, #fff);
  font-size: 14px;
  line-height: 1.5;
  /* 21px */
  border-radius: 6px;
  width: 100%;
}

.header {
  width: 358px;
  margin: 0 auto;
  margin-bottom: 50px;
  /*padding: 40px 16px 0px 16px;*/
}

.top-baner-icon {
  width: 20px;
  height: 20px;
}

.hero-subcontainer-itemIMG-icon {
  width: 24px;
  height: 24px;
}

.imgcontainer-logo {
  width: fit-content;
  height: fit-content;
  padding: 5px 5px 5px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--Orange-50);
}

.logo {
  width: 30px;
  height: 30px;
}

.header-container {
  display: flex;
  padding: 14px 0px 14px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.nav {
  display: none;
}

.burger-menu {
  width: 34px;
  height: 34px;
}

.header-btncontainer-item-login {
  border-radius: 6px;
  background: var(--Orange-50);
  padding: 12px 20px;
  align-items: center;
  font-family: "Be Vietnam Pro";
  gap: 8px;
  color: var(--Absolute-White);
  font-size: 14px;
  line-height: 1.5;
  /* 21px */
}

.header-btncontainer {
  gap: 20px;
  display: flex;
  align-items: center;
}

.Skillbridge-container {
  display: flex;
  width: 358px;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.Skillbridge-container-title {
  color: var(--Grey-15, );
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  align-self: stretch;
}

.Skillbridge-container-text {
  color: var(--Grey-35, );
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  align-self: stretch;
}

.main {
  width: 358px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  width: 358px;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
}

.Achievements {
  display: flex;
  width: 358px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.Achievements-title {
  color: var(--Grey-20, );
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  align-self: stretch;
}

.Achievements-text {
  flex: 1 0 0;
  align-self: stretch;
  color: var(--Grey-35, );
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.Achievements-container-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;

}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

.Achievements-container-list-item {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 10px;
  background: var(--Absolute-White);
}

.Achievements-container-list-imgcontainer {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--Orange-90);
  background: var(--Orange-97);

}

.Achievements-container-list-imgcontainer-img {
  width: 28px;
  height: 23px;
  flex-shrink: 0;
}

.Achievements-container-title {
  color: var(--Grey-15);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  align-self: stretch;
}

.OurGoals {
  display: flex;
  width: 358px;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
}

.OurGoals-title {
  align-self: stretch;
  color: var(--Grey-20);
  font-family: "Be Vietnam Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.OurGoals-text {
  flex: 1 0 0;
  align-self: stretch;
  color: var(--Grey-35);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.OurGoals-container-list {
  display: flex;
  width: 358px;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
}

.OurGoals-container-list-item {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 10px;
  background: var(--Absolute-White);
}

.OurGoals-container-list-imgcontainer {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Orange-90);
  background-color: var(--Orange-97);
}

.OurGoals-container-list-imgcontainer-img {
  width: 18px;
  height: 29px;
  flex-shrink: 0;
}

.OurGoals-container-title {
  align-self: stretch;
  color: var(--Grey-15);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.CTA {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  border-radius: 10px;
  background: var(--Absolute-White);
}

.text-container-CTA {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;

}

.CTA-title {
  color: var(--Grey-15);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

.CTA-title-span {
  color: var(--Orange-50);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

.CTA-text {
  color: var(--Grey-30, );
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  align-self: stretch;
}

.CTA-button {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: var(--Orange-50);
}

.CTA-button-text {
  color: var(--Absolute-White);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
}
.Achievements{
  margin-bottom: 50px;
}
.CTA-Abstractlogo-backroundimage {}

