body {
  font-family: "Be Vietnam Pro", sans-serif;
  background: var(--White-97, #f7f7f8);
  border: none;
}
* {
  border: none;
}

/*header end*/
/* footer*/
.li_container_2:not(:last-child) {
  margin-bottom: 20px;
}

.title_container_1 {
  margin-bottom: 16px;
  color: var(--Grey-15);
  font-family: "Be Vietnam Pro";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  align-self: stretch;
}
.text_container_1 {
  color: var(--Grey-35);
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  align-self: stretch;
}
.empty-img {
  width: 100px;
  height: 100px;
}
.section_1 {
  display: flex;

  padding-bottom: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  border-bottom: 1px solid var(--White-90);
}
.li_container_2 {
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Absolute-White);
}
.li_container_2_texts_container-subcontainer {
  margin-bottom: 40px;
}
.li_container_2_texts_container {
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: var(--Grey-35);
  font-family: "Be Vietnam Pro";
  font-size: 14px;
}
.li_container_2_texts_container_item_weeks {
  align-items: flex-start;
  padding: 8px 12px;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--White-95);
  background: var(--Absolute-White);
}
.li_container_2_texts_container_item_level {
  align-items: flex-start;
  padding: 8px 12px;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--White-95);
  background: var(--Absolute-White);
}
.sub_container_li {
  padding-bottom: 20px;
  border-bottom: 1px solid #f1f1f3;
}
.sub_container_li:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}
.sub_container_li:not(:first-child) {
  margin-top: 20px;
}
.li_container_2_buttom {
  display: flex;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid var(--White-95);
  background: var(--White-99);
  color: var(--Grey-15);
  text-align: center;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
.sud_container_title {
  display: flex;
  padding: 14px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-bottom: 1px solid var(--White-95);
  color: var(--Grey-15);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  flex: 1 0 0;
}

.sub_container_ul {
  padding: 24px;

  align-items: flex-start;

  align-self: stretch;
  border-radius: 12px;
  background: var(--Absolute-White);
}
.sub_container_li_number {
  margin-bottom: 12px;
  color: var(--Grey-15);
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.5;
}
.sub_container_li_text {
  color: var(--Grey-20);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  align-self: stretch;
}
.li_container_2_sub_container {
  border-radius: 10px;
  border: 1px solid var(--White-95);
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.li_container_2_h2 {
  color: var(--Grey-15);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  align-self: stretch;
}
.li_container_2_paragraph {
  align-self: stretch;
  color: var(--Grey-35);
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.li_container_2_name {
  color: var(--Grey-15);
  font-size: 16px;
  font-weight: 500;
}
.li_container_2_container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  padding: 24px 0px 24px 0px;
  margin-bottom: 24px;
}
.ul_container_2 {
  margin-top: 50px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .section_1-container {
    display: flex;
    padding: 0px 60px 40px 60px;
    align-items: center;
    gap: 80px;
  }
  .li_container_2-subcontainer {
    display: flex;
    align-items: center;
    gap: 50px;
    align-self: stretch;
  }
  .li_container_2_texts_container-subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  .sub_container_ul {
    display: flex;
    padding: 24px 40px;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
  }
  .sub_container_li:not(:first-child) {
    margin-top: 0px;
  }
  .sub_container_li {
    padding-bottom: 0;
    border-bottom: none;
  }
  .sub_container_li:not(:last-child) {
    padding-right: 40px;
    border-right: 1px solid #f1f1f3;
  }
  .title_container_1 {
    margin-bottom: 0px;
    color: var(--Grey-15);
    font-size: 38px;
    font-weight: 600;
    line-height: 1.5;
  }
  .text_container_1 {
    width: 507px;
    color: var(--Grey-35);
    font-size: 16px;
    line-height: 1.5;
  }
  .li_container_2_h2 {
    font-size: 20px;
  }
  .li_container_2_paragraph {
    font-size: 16px;
  }
  .li_container_2_texts_container_item_weeks_levels {
    font-size: 16px;
  }
  .li_container_2_name {
    font-size: 18px;
  }
  .sud_container_title {
    font-size: 18px;
  }
  .sub_container_li_number {
    font-size: 40px;
  }
  .sub_container_li_text {
    font-size: 16px;
  }
  .li_container_2:not(:last-child){
    margin-bottom: 40px;
  }
}
@media (min-width: 1920px) {
  .li_container_2_container{
    margin-bottom: 30px;
  }
  .li_container_2:not(:last-child){
    margin-bottom: 50px;
  }
  .section_1-container {
    display: flex;
    padding: 0px 132px 50px 132px;
    align-items: center;
    gap: 100px;
  }
  .li_container_2-subcontainer {
    display: flex;
    align-items: center;
    gap: 50px;
    align-self: stretch;
  }
  .li_container_2_texts_container-subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-bottom: 50px;
  }
  .li_container_2_texts_container {
    margin-bottom: 0px;
  }
  .sub_container_ul {
    display: flex;
    padding: 24px 40px;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
  }
  .sub_container_li:not(:first-child) {
    margin-top: 0px;
  }
  .sub_container_li {
    padding-bottom: 0;
    border-bottom: none;
  }
  .sub_container_li:not(:last-child) {
    padding-right: 50px;
    border-right: 1px solid #f1f1f3;
  }
  .title_container_1 {
    margin-bottom: 0px;
    color: var(--Grey-15);
    font-size: 48px;
    font-weight: 600;
    line-height: 1.5;
  }
  .text_container_1 {
    width: 530px;
    color: var(--Grey-35);
    font-size: 18px;
    line-height: 1.5;
  }
  .li_container_2_h2 {
    font-size: 24px;
  }
  .li_container_2_paragraph {
    font-size: 18px;
  }
  .li_container_2_texts_container_item_weeks_levels {
    font-size: 18px;
  }
  .li_container_2_name {
    font-size: 20px;
  }
  .sud_container_title {
    font-size: 22px;
  }
  .sub_container_li_number {
    font-size: 50px;
  }
  .sub_container_li_text {
    font-size: 18px;
  }
}
