body {
    font-family: "Be Vietnam Pro";
    background: var(--White-97, #f7f7f8);
    border: none;
  }
  * {
    border: none;
  }
  .tob-baner {
    display: flex;
    padding: 10px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background-color: var(--Orange-50);
    color: var(--Absolute-White, #fff);
    font-size: 14px;
    line-height: 1.5; /* 21px */
    border-radius: 6px;
    width: 100%;
  }
  .header {
    width: 358px;
    margin: 0 auto;
    margin-bottom: 50px;
    /*padding: 40px 16px 0px 16px;*/
  }
  .top-baner-icon {
    width: 20px;
    height: 20px;
  }
  .hero-subcontainer-itemIMG-icon {
    width: 24px;
    height: 24px;
  }
  .imgcontainer-logo {
    width: fit-content;
    height: fit-content;
    padding: 5px 5px 5px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: var(--Orange-50);
  }
  .logo {
    width: 30px;
    height: 30px;
  }
  .header-container {
    display: flex;
    padding: 14px 0px 14px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  .nav {
    display: none;
  }
  .burger-menu {
    width: 34px;
    height: 34px;
  }
  .header-btncontainer-item-login {
    border-radius: 6px;
    background: var(--Orange-50);
    padding: 12px 20px;
    align-items: center;
    font-family: "Be Vietnam Pro";
    gap: 8px;
    color: var(--Absolute-White);
    font-size: 14px;
    line-height: 1.5; /* 21px */
  }
  .header-btncontainer {
    gap: 20px;
    display: flex;
    align-items: center;
  }
  /*header end*/