body {
  font-family: "Be Vietnam Pro", sans-serif;
  background: var(--White-97);
  border: none;
}
* {
  border: none;
}
.tob-baner {
  display: flex;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: var(--Orange-50);
  color: var(--Absolute-White);
  font-size: 14px;
  line-height: 1.5; /* 21px */
  border-radius: 6px;
  width: 100%;
}
.header {
  width: 358px;
  margin: 0 auto;
  margin-bottom: 50px;
  /*padding: 40px 16px 0px 16px;*/
}
.hero {
  display: flex;
  width: 357px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.top-baner-icon {
  width: 20px;
  height: 20px;
}
.hero-subcontainer-itemIMG-icon {
  width: 24px;
  height: 24px;
}
.imgcontainer-logo {
  width: fit-content;
  height: fit-content;
  padding: 5px 5px 5px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--Orange-50);
}
.logo {
  width: 30px;
  height: 30px;
}
.header-container {
  display: flex;
  padding: 14px 0px 14px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.nav {
  display: none;
}
.burger-menu {
  width: 34px;
  height: 34px;
}
.header-btncontainer-item-login {
  border-radius: 6px;
  background: var(--Orange-50);
  padding: 12px 20px;
  align-items: center;
  font-family: "Be Vietnam Pro";
  gap: 8px;
  color: var(--Absolute-White);
  font-size: 14px;
  line-height: 1.5; /* 21px */
}
.header-btncontainer {
  gap: 20px;
  display: flex;
  align-items: center;
}
.hero-subcontainer {
  position: relative;
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  align-self: stretch;
  flex-wrap: wrap;
  border-radius: 8px;
  border: 1px solid var(--White-95);
  background: var(--White-99);
  margin-bottom: 16px;
}
.h1-span {
  color: var(--Orange-50);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5; /* 24px */
}
h1 {
  color: var(--Grey-10);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}
main {
  width: 358px;
  margin: 0 auto;
}
.hero-subcontainer-itemIMG {
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: var(--Orange-95);
}
.hero-subcontainer::after {
  position: absolute;
  left: -10px;
  top: -20px;
  content: "";
  background-image: url("./img/svg/AbstractLine390.svg");
  background-repeat: no-repeat;
  width: 39px;
  height: 43px;
  display: inline-block;
}
.hero-text-container-item-bigger {
  color: var(--Grey-15);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}
.hero-text-container-item-smaller {
  color: var(--Grey-15);
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 50px;
}
.hero-btn-container-item-ExploreCourses {
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--Orange-50);
  color: var(--Absolute-White);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  font-family: "Be Vietnam Pro";
}
.hero-btn-container-item-ViewPricing {
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--White-95);
  background: var(--Absolute-White);
  color: var(--Grey-15);
  text-align: center;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.hero-btn-container {
  gap: 12px;
  display: flex;
}
.main-logotips {
  display: flex;
  width: 357px;
  padding: 10px;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid var(--White-95);
  background: var(--White-99);
}
.logotips-container {
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}
.logotips-for-desktop {
  display: none;
}
.text-and-viewall-btn-h2 {
  color: var(--Grey-15);
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;
}
.text-and-viewall-btn-text {
  color: var(--Grey-35);
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.text-and-viewall-btn-btn {
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--White-95);
  background: var(--White-99);
}
.benefits-list-item-desktop {
  display: none;
}
.benefits-list-item {
  border-radius: 10px;
  background: var(--Absolute-White);
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  align-self: stretch;
}
.benefits-list-item-number {
  color: var(--Grey-15);
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.benefits-list-item-h3 {
  color: var(--Grey-20);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.12px;
}
.benefits-list-item-text {
  color: var(--Grey-30);
  font-size: 14px;
  line-height: 1.5;
}
.orstrilka {
  width: 26px;
  height: 26px;
}
.benefits-list-item-imgcontainer {
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--White-95);
  background: var(--White-99);
}
.benefits-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.benefits-list-item:last-child {
  margin-bottom: 50px;
}
.ourcourses-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.ourcourses-list-item:last-child {
  margin-bottom: 50px;
}
.text-and-viewall-btn {
  margin-bottom: 40px;
}
.ourcourses-list-item-subcontainer-time-and-category {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
  margin-top: 24px;
}
.ourcourses-list-item-subcontainer-category {
  padding: 8px 14px;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid var(--White-95);
  background: var(--Absolute-White);
}
.ourcourses-list-item-subcontainer-time {
  padding: 8px 14px;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid var(--White-95);
  background: var(--Absolute-White);
}
.ourcourses-list-item-subcontainer-category {
  color: var(--Grey-30);
  font-size: 14px;
}
.ourcourses-list-item-subcontainer-time-item {
  color: var(--Grey-30);
  font-size: 14px;
}
.ourcourses-list-item {
  margin-bottom: 20px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--White-95);
  background: var(--Absolute-White);
}
.ourcourses-list-item-subcontainer-text {
  margin-bottom: 24px;
}
.ourcourses-list-item-textcontainer-h3 {
  color: var(--Grey-15);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 10px;
}
.ourcourses-list-item-textcontainer-text {
  margin-bottom: 24px;
  color: var(--Grey-30);
  font-size: 14px;
  line-height: 1.5;
}
.ourcourses-list-item-btn {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--White-95);
  background: var(--White-97);
}
.ourtestimonial-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--White-95);
  background: var(--Absolute-White);
}
.ourtestimonial-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.ourtestimonial-list-item-images {
  display: flex;
  padding: 20px 30px;
  align-items: center;
  align-self: stretch;
}
.ourtestimonial-subcontainer {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}
.ourtestimonial-list-item-maintext-item {
  color: var(--Grey-30);
  font-size: 14px;
  line-height: 1.5; /* 21px */
}
.ourtestimonial-list-item-maintext {
  display: flex;
  padding: 30px;
  align-items: flex-start;
  align-self: stretch;
}
.ourtestimonial-list-item-images-btn {
  display: flex;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--White-95);
  background: var(--White-97);
}
